<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report Find</title>
    <meta charset="UTF-8">
    <meta name="description" content="Report Find">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>

<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Find My Items</h1>
    <form action="/report/find/" method="post" oninvalid="subbutton.disabled=true; return true" onsubmit="subbutton.disabled=true; return true;">
        <input type="text" name="finditem" value="<% search %>" /><button id="subbutton" type="submit">Find</button>
    </form>
    <% if(many.length>0) { %>
        <h1>Items</h1>
        <table class="list-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Job</th>
                <th>Location</th>
                <% Object.entries(many[0].identify).forEach(([key, value]) => { %>
                    <th><%= key%></th>
                <% } ) %>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<many.length;i++) { %>
                <tr>
                    <td><a href="/item/show/<%= many[i]._id%>"><img src="/bshw.png" alt="atr" width="30" height="15"></a></td>
                    <td><a href="/job/asset/<%= many[i].fromId._id%>"><%= many[i].fromId.fromBarcode %></a></td>
                    <td><a href="/location/show/<%= many[i].locationId._id%>"><%= many[i].locationId.locate %></a></td>
                    <% Object.entries(many[i].identify).forEach(([key, value]) => { %>
                        <td><%= value%></td>
                    <% } ) %>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>
</body>
</html>