<!DOCTYPE html>
<html lang="en">
<head>
    <title>Family Index List</title>
    <meta charset="UTF-8">
    <meta name="description" content="Family Index List">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>
<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Family List - <%= family.length%> items</h1>
    <% if(family.length>0) { %>
    <form action="/price/cpu/massUpdate/" method="post" onsubmit="subbutton.disabled=true; return true;">
        <table class="list-table">
            <thead>
            <tr>
                <th>Family Name</th>
                <th colspan="2">Desktop</th>
                <th colspan="2">Laptop</th>
                <th colspan="2">Aio</th>
                <th colspan="2">Imac</th>
                <th colspan="2">Macbook</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<family.length;i++) { %>
                <tr>
                    <td><%= family[i].processorFamilyName%><input type="text" hidden="hidden" name="famdee" value="<%= family[i]._id%>"/></td>
                    <td><input type="number" style="width: 95%" name="desktopBuyPrice" value="<%= family[i].desktop.buyPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="desktopSellPrice" value="<%= family[i].desktop.sellPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="laptopBuyPrice" value="<%= family[i].laptop.buyPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="laptopSellPrice" value="<%= family[i].laptop.sellPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="aioBuyPrice" value="<%= family[i].aio.buyPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="aioSellPrice" value="<%= family[i].aio.sellPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="imacBuyPrice" value="<%= family[i].imac.buyPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="imacSellPrice" value="<%= family[i].imac.sellPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="macbookBuyPrice" value="<%= family[i].macbook.buyPrice%>"/></td>
                    <td><input type="number" style="width: 95%" name="macbookSellPrice" value="<%= family[i].macbook.sellPrice%>"/></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="11"><button id="subbutton" type="submit">Update</button></td>
            </tr>
            <tr>
                <td colspan="11" style="text-align: center"><a href="/price/cpu/family">BACK</a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <% } else { %>
        <div><%if(user.admin) {%><a href="/price/cpu/create">Add</a><%}%></div>
    <% } %>
</div>
</body>
</html>
