<!DOCTYPE html>
<html lang="en">
<head>
    <title>Family Show</title>
    <meta charset="UTF-8">
    <meta name="description" content="Family Show">
    <meta name="author" content="Beren Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
<nav class="topheading">
    <% if (user.itemR) {%><a href="/item/">New Items</a><%}%>
    <% if (user.locationR) {%><a href="/location/">Locations</a><%}%>
    <% if (user.jobR) {%><a href="/job/">Jobs</a><%}%>
    <% if (user.itemR) {%><a href="/report/find">Find Items</a><%}%>
    <% if (user.wipeR) {%><a href="/wipe/status">Wipe</a><%}%>
    <% if (user.admin) {%><a href="/price/">Pricing</a><%}%>
    <% if (user.admin) {%><a href="/user/">User</a><%}%>
    <% if (user.admin) {%><a href="/admin/">Admin</a><%}%>
    <a href="/logout">Logout</a>
</nav>
<div class="container">
    <img src="/bshw-big.png" alt="BSHW banner">
    <h1>Details</h1>
    <table>
        <tbody>
        <tr>
            <td>Family Name</td>
            <td colspan="2"><%= one.processorFamilyName %></td>
        </tr>
        <tr>
            <td>Desktop</td>
            <td><%= one.desktop.buyPrice %></td>
            <td><%= one.desktop.sellPrice %></td>
        </tr>
        <tr>
            <td>Laptop</td>
            <td><%= one.laptop.buyPrice %></td>
            <td><%= one.laptop.sellPrice %></td>
        </tr>
        <tr>
            <td>Aio</td>
            <td><%= one.aio.buyPrice %></td>
            <td><%= one.aio.sellPrice %></td>
        </tr>
        <tr>
            <td>Imac</td>
            <td><%= one.imac.buyPrice %></td>
            <td><%= one.imac.sellPrice %></td>
        </tr>
        <tr>
            <td>Macbook</td>
            <td><%= one.macbook.buyPrice %></td>
            <td><%= one.macbook.sellPrice %></td>
        </tr>
        <tr>
            <td colspan="3"><a href="/price/cpu/edit/<%= one._id %>">EDIT</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h1>Processors</h1>
    <% if(one.processor.length>0) { %>
    <table class="list-table">
        <tbody>
            <tr>
                <% let colPos=1;%>
                <% for (let i=0; i<one.processor.length;i++) { %>
                <% if (colPos>5) {%>
                    </tr><tr>
                <% colPos=1; } %>
                <td><a href="/price/cpu/unmove/<%= one._id %>/<%= one.processor[i]._id %>"><%= one.processor[i].model %></a></td>
                <% colPos++; }%>
            </tr>
        </tbody>
    </table>
    <% } else {%>
            <tr><td>No processors found</td></tr>
    <% } %>
</div>
</body>
</html>